html, body {
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    background-color: #404a57;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.btn-text {
    padding-top: 5px;
}

.jumbotron {
    height: 375px;
    background: darkcyan; /* url(img/Banner.png); */
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #a8a9ae;
    border-color: #a8a9ae;
    width: 178px !important;
    font-weight: bold;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:1920px) {
    body {
        background-size: cover;
        height: 100%;
        font-size: 25px;
    }
}

/* Tiny screens + phone users who aren't landscape weirdos */
@media screen and (orientation:portrait), (max-width:800px) {
    body {
        font-size: 14px;
    }

    .jumbotron {
        background: url(img/Banner_smol.png) no-repeat;
        height: fit-content;
    }
}