{% extends "base.html" %}
{% load static %}


{% block style %}
  <link href="{% static 'finearts/css/style_contact.css' %}" rel="stylesheet" media="screen">
  <title>Contact</title>
{% endblock style %}

{% block content %}
{% load crispy_forms_tags %}
<div class="page-content">
  <div class="email-form">
    <form class="submission" action = "." method="post">
      {% csrf_token %}
    <div class="form-container">
      {{ form|crispy }}
    </div>
    <div class="form-container">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</div>
{% endblock content %}
