{% extends "base.html" %}
{% load static %}


{% block style %}
  <link href="{% static 'finearts/css/style_reels.css' %}" rel="stylesheet" media="screen">
  <title>Reels</title>
{% endblock style %}

{% block content %}
  <iframe class="video" src="https://player.vimeo.com/video/136643111" width="1280" height="720"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <iframe class="video" width="1280" height="720" src="https://www.youtube.com/embed/I86r-xnmMlA"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <iframe class="video" width="1280" height="720" src="https://www.youtube.com/embed/hFFfkPQKFw0"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <iframe class="video" width="1280" height="720" src="https://www.youtube.com/embed/_eH6fT6QN2I"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <iframe class="video" width="1280" height="720" src="https://www.youtube.com/embed/yNMj-6f-p2U"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  <br>
  <br>
  <br>
{% endblock content %}