{% load static %}


{% block style %}
<link href="{% static 'portfolio/css/style_toppings.css' %}" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock style %}

{% block navbar %}

{% endblock navbar %}

{% block sidenote %}

<!-- Sidebar Widgets Column -->
<div class="sidenote col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About Me</h5>
    <div class="card-body">
      <p class="card-text">I like to draw both things and stuff.</p>
      <a href="{% url 'home' %}"
        class="btn btn-danger">Really?? Fascinating, I'll HYU</a>
    </div>
  </div>
</div>

{% endblock sidenote %}
